{% extends 'base.html' %}
{% if user.is_authenticated %}
    {% block content %}
            <link href="https://unpkg.com/tabulator-tables@4.9/dist/css/tabulator.min.css" rel="stylesheet">
            <script type="text/javascript"
                    src="https://unpkg.com/tabulator-tables@4.9/dist/js/tabulator.min.js"></script>
            <link href="https://unpkg.com/tabulator-tables@4.9/dist/css/tabulator_simple.min.css" rel="stylesheet">
            {#            <script type="text/javascript"#}
            {#                    src="https://unpkg.com/tabulator-tables@4.0.5/dist/js/tabulator.min.js"></script>#}
            <h1>Purse: {{ purse_name }}</h1>
            <div>
                <select id="filter-field">
                    <option></option>
                    <option value="date">Date</option>
                    <option value="merchant">Merchant</option>
                    <option value="amount">Amount</option>
                    <option value="category">Category</option>
                </select>

                <select id="filter-type">
                    <option value="=">=</option>
                    <option value="<"><</option>
                    <option value="<="><=</option>
                    <option value=">">></option>
                    <option value=">=">>=</option>
                    <option value="!=">!=</option>
                </select>

                <input id="filter-value" type="text" placeholder="value to filter">
            </div>
            <div id="example-table"></div>
        <form method="POST">
            {% csrf_token %}
            <div>
                <button id="upload_transactions" name="upload_transactions">Upload transactions</button>
                <button id="save">Save</button>
            </div>
        </form>
            <script>
                var table = new Tabulator("#example-table", {
                    height: '70%',
                    pagination: "local",
                    paginationSize: 30,
                    movableColumns: true,
                    layout: "fitColumns",
                    columns: [
                        {title: "Date", field: "date", sorter: "date", align: "center"},
                        {title: "Merchant", field: "merchant"},
                        {title: "Amount", field: "amount", bottomCalc: "sum", bottomCalcParams: {precision: 2}},
                        {
                            title: "Category",
                            field: "category",
                            editor: "select",
                            editorParams: {values: {{ categories|safe }}}
                        },
                    ],
                });
                table.setData({{tabledata|safe}});
                var fieldEl = document.getElementById("filter-field");
                var typeEl = document.getElementById("filter-type");
                var valueEl = document.getElementById("filter-value");

                function updateFilter() {
                    var filterVal = fieldEl.options[fieldEl.selectedIndex].value;
                    var typeVal = typeEl.options[typeEl.selectedIndex].value;

                    var filter = filterVal == "function" ? customFilter : filterVal;
                    if (filterVal == "function") {
                        typeEl.disabled = true;
                        valueEl.disabled = true;
                    } else {
                        typeEl.disabled = false;
                        valueEl.disabled = false;
                    }

                    if (filterVal) {
                        table.setFilter(filter, typeVal, valueEl.value);
                    }
                }

                document.getElementById("filter-field").addEventListener("change", updateFilter);
                document.getElementById("filter-type").addEventListener("change", updateFilter);
                document.getElementById("filter-value").addEventListener("keyup", updateFilter);
            </script>
    {% endblock %}
{% else %}
    <p>User doesn't authenticated</p>
{% endif %}